.block--example-expander {
	margin: 32px auto;
	padding: 0 32px;
	max-width: 768px;
}

.block--example-expander .title-bar {
	margin-bottom: 16px;
	padding: 4px 8px;
	position: relative;
	background-color: #f6f4f8;
	cursor: pointer;
}

.block--example-expander .title-bar::after {
	content: '\02227';
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 26px;
	color: #29323d;
	opacity: 0.5;
}

.block--example-expander .title-bar.collapsed::after {
	content: '\02228';
}

.block--example-expander .title-bar .header {
	line-height: 44px;
	font-size: 30px;
	color: #29323d;
}

.block--example-expander .content {
	padding: 0 32px;
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 1px;
	color: #29323d;
}

.block--example-expander .content::after {
	content: '';
	display: block;
	max-width: 128px;
	height: 0;
	margin: 12px auto 0 auto;
	border: 0px solid #29323d;
	border-bottom-width: 1px;
}

.block--example-expander .content.collapsed {
	display: none;
}