{% extends '_layouts/cp' %}
{# Block settings overview, lists blocks and their usage/info. #}

{% set title = 'Blocks' | t('blockonomicon') %}
{% set selectedSubnavItem = 'blocks' %}

{% set crumbs = [
    { label: 'Blockomonicon', url: url('blockonomicon/blocks') }
] %}

{% set sidebar %}
	{% include "blockonomicon/blocks/_sidebar" %}
{% endset %}

{% block content %}

	{% set warnings = craft.blockonomicon.settings.getSystemWarnings() %}
	{% if warnings %}
		<div class="warning">
		<h2>Warning</h2>

		{% for warning in warnings %}
			<p>{{ warning | raw }}</p>
		{% endfor %}

		<p><a href="{{ url('blockonomicon/clearSystemWarnings') }}">Clear Blockonomicon Warnings</a></p>
		</div>
	{% endif %}

	<h2>Quick Controls</h2>

	<div class="buttons">
		<div id="bncnrebuildfilesbtn" class="btn submit">
			<span class="label">{{ 'Rebuild Minified JS/CSS' | t('blockonomicon') }}</span>
		</div>
	</div>

	<h2>Blocks Overview</h2>

	<table id="blocks" class="data fullwidth collapsible">
		<thead>
			<th scope="col">{{ 'Name' | t('app') }}</th>
			<th scope="col">{{ 'Handle' | t('app') }}</th>
			<th scope="col">{{ 'Description' | t('app') }}</th>
			<th scope="col">{{ 'Fields' | t('app') }}</th>
			<th scope="col"><span data-icon="edit" title="{{ 'Edit block' | t('app') }}"></span></th>
		</thead>
		<tbody>
			{% for handle, block in blocks %}
				<tr>
					{% if block.state == 'good' %}
						<td>{{ block.name }}</td>
						<td><code>{{ handle }}</code></td>
						<td>
							{% if block.description is defined and block.description %}
								{{ block.description }}
							{% else %}
								-
							{% endif %}
						</td>
						<td>{{ block.fields | length }}</td>
						<td><a href="{{ url('blockonomicon/blocks/' ~ handle) }}" data-icon="edit" title="{{ 'Edit block' | t('blockonomicon') }}"></a></td>
					{% else %}
						<td class="error {{ block.state }}"><span data-icon="alert"></span></td>
						<td><code>{{ handle }}</code></td>
						<td>This block has a configuration error and has not been loaded.</td>
						<td>-</td>
						<td>-</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% js on ready %}
	new BNCN.OverviewEditor();
{% endjs %}