{% extends '_layouts/cp' %}
{# Editor for blocks on a given matrix. #}

{% set matrixName = matrix.name | t('site') %}

{% set title = matrixName %}
{% set selectedSubnavItem = 'blocks' %}

{% set crumbs = [
	{ label: 'Blockomonicon', url: url('blockonomicon') },
    { label: 'Matrices' | t('blockonomicon'), url: url('blockonomicon/blocks') }
] %}

{% set sidebar %}
	{% include "blockonomicon/blocks/_sidebar" %}
{% endset %}

{% block content %}
	{{ redirectInput('blockonomicon/blocks') }}
	<table id="matrixblocks" class="data fullwidth collapsible" data-id="{{ matrixid }}">
		<thead>
			<th>Name</th>
			<th>Handle</th>
			<th>Description</th>
			<th>Fields</th>
			<th>Actions</th>
		</thead>
		<tbody>
			{% for block in blocks %}
				<tr data-status="{{ block.status }}" data-id="{{ block.id }}" data-handle="{{ block.handle }}">
					<td>
						<a class="move icon" title="Reorder" role="button"></a>
						{% if block.status == 'saved' %}
							<a class="status green" title="Attached and Saved"></a>
						{% elseif block.status == 'not-saved' %}
							<a class="status yellow" title="Not Saved"></a>
						{% else %}
							<a class="status none" title="Not Attached"></a>
						{% endif %}
						{{ block.name }}</td>
					<td><code>{{ block.handle }}</code></td>
					<td>
						{% if block.description is defined and block.description %}
							{{ block.description }}
						{% else %}
							-
						{% endif %}
					</td>
					<td>{{ block.fields }}</td>
					<td>
						<span class="buttons">
							{% if block.status == 'saved' %}
								<a class="btn import" role="button">Import</a>
								<a class="btn export" role="button">Export</a>
								<a class="btn delete submit" role="button">Delete</a>
							{% elseif block.status == 'not-saved' %}
								<a class="btn import disabled" role="button" title="{{ 'Cannot import, no matching block files exist.' | t('blockonomicon') }}">Import</a>
								<a class="btn export" role="button">Export</a>
								<a class="btn delete submit" role="button">Delete</a>
							{% else %}
								<a class="btn import" role="button">Import</a>
								<a class="btn export disabled" role="button" title="{{ 'Cannot export, block is not attached.' | t('blockonomicon') }}">Export</a>
								<a class="btn delete submit disabled" role="button" title="{{ 'Cannot delete, block is not attached.' | t('blockonomicon') }}">Delete</a>
							{% endif %}
						</span>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<buttons>
		<a class="btn quicksort submit">Sort Alphabetically</a>
	</buttons>
{% endblock %}

{% js on ready %}
	new BNCN.MatrixEditor();
{% endjs %}