{% extends '_layouts/cp' %}
{# Editor for blocks on a given matrix. #}

{% set matrixName = matrix.name | t('site') %}

{% set title = matrixName %}
{% set selectedSubnavItem = 'blocks' %}

{% set crumbs = [
	{ label: 'Blockomonicon', url: url('blockonomicon') },
    { label: 'Matrices' | t('blockonomicon'), url: url('blockonomicon/blocks') }
] %}

{% set sidebar %}
	{% include "blockonomicon/blocks/_sidebar" %}
{% endset %}

{% block content %}
	{{ redirectInput('blockonomicon/blocks') }}

	{% set importButton %}<span class="icon icon-mask"><span data-icon="circleuarr"></span></span> {{ 'Import' | t('blockonomicon') }}{% endset %}
	{% set exportButton %}<span class="icon icon-mask"><span data-icon="circledarr"></span></span> {{ 'Export' | t('blockonomicon') }}{% endset %}
	{% set deleteButton %}<span class="icon icon-mask"><span data-icon="trash"></span></span> {{ 'Delete' | t('blockonomicon') }}{% endset %}

	<table id="matrixblocks" class="data fullwidth collapsible" data-id="{{ matrixid }}">
		<thead>
			<th>Name</th>
			<th>Handle</th>
			<th>Description</th>
			<th>Fields</th>
			<th>Actions</th>
		</thead>
		<tbody>
			{% for block in blocks %}
				<tr data-status="{{ block.status }}" data-id="{{ block.id }}" data-handle="{{ block.handle }}">
					<td>
						<a class="move icon" title="{{ 'Reorder' | t('app') }}" role="button"></a>
						{% if block.status == 'desync' %}
							<span class="status red" title="{{ 'Out of Sync' | t('blockonomicon') }}"></span>
						{% elseif block.status == 'saved' %}
							<span class="status green" title="{{ 'Attached and Saved' | t('blockonomicon') }}"></span>
						{% elseif block.status == 'not-saved' %}
							<span class="status yellow" title="{{ 'Not Saved' | t('blockonomicon') }}"></span>
						{% else %}
							<span class="status none" title="{{ 'Not Attached' | t('blockonomicon') }}"></span>
						{% endif %}
						{{ block.name }}</td>
					<td><code>{{ block.handle }}</code></td>
					<td>
						{% if block.description is defined and block.description %}
							{{ block.description }}
						{% else %}
							-
						{% endif %}
					</td>
					<td>
						{{ block.fields }}
						{% if block.status == 'desync' %}
							<span class="error" data-icon="alert" title="{{ 'Block definition does not match exported settings.' | t('blockonomicon') }}"></span>
						{% endif %}
					</td>
					<td>
						<span class="buttons">
							{% if block.status == 'saved' or block.status == 'desync' %}
								<a class="btn import" role="button">{{ importButton }}</a>
								<a class="btn export" role="button">{{ exportButton }}</a>
								<a class="btn delete submit" role="button">{{ deleteButton }}</a>
							{% elseif block.status == 'not-saved' %}
								<a class="btn import disabled" role="button" title="{{ 'Cannot import, no matching block files exist.' | t('blockonomicon') }}">{{ importButton }}</a>
								<a class="btn export" role="button">{{ exportButton }}</a>
								<a class="btn delete submit" role="button">{{ deleteButton }}</a>
							{% else %}
								<a class="btn import" role="button">{{ importButton }}</a>
								<a class="btn export disabled" role="button" title="{{ 'Cannot export, block is not attached.' | t('blockonomicon') }}">{{ exportButton }}</a>
								<a class="btn delete submit disabled" role="button" title="{{ 'Cannot delete, block is not attached.' | t('blockonomicon') }}">{{ deleteButton }}</a>
							{% endif %}
						</span>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="buttons">
		<a class="btn quicksort"><span class="icon icon-mask"><span data-icon="asc"></span></span> Alphabetize</a>
	</div>
	<div id="import-controls" class="hidden">
		{% for control in importControls %}
			<div class="import-control" data-handle="{{ control.block }}">
				{{ control.controls | raw }}
				<div class="buttons actions">
					<a class="btn cancel" role="button">{{ 'Cancel' | t('app') }}</a>
					<a class="btn submit import" role="button">{{ 'Import' | t('app') }}</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% js on ready %}
	new BNCN.MatrixEditor();
{% endjs %}
