{% extends '_layouts/cp' %}
{% set title = 'Examples' | t('blockonomicon') %}
{% set selectedSubnavItem = 'examples' %}

{% set crumbs = [
    { label: 'Blockomonicon', url: url('blockonomicon/blocks') }
] %}

{% block content %}
	<div class="readable" style="max-width: 800px; margin: auto;">
		<h2>Full Documentation</h2>
		<p><a href="https://github.com/charliedevelopment/craft3-blockonomicon">Blockonomicon's main documentation is hosted on GitHub.</a></p>
		<h2>Hands-on Examples</h2>
		<p>To experiment with Blockonomicon, some example fields and templates can be installed for reference. You can then view the example content by visiting <a href="/blockonomicon-example">/blockonomicon-example</a>. To uninstall this example content, you can find an uninstall button below, if the example content is detected.</p>
		{% if craft.app.getSections().getSectionByHandle('blockonomiconExample') == null %}
			<a class="fieldtoggle" data-target="quick-start-details">What will this do?</a>
			<div id="quick-start-details" class="hidden">
				<ul>
					<li>Creates three blocks in Blockonomicon's block folder: <code>exampleBanner</code>, <code>exampleTaggedContent</code>, and <code>exampleExpander</code>. By default this folder is <code>craft/storage/bloconomicon/blocks</code>.</li>
					<li>Creates a template in Craft's template folder called <code>_blockonomicon.html</code>.</li>
					<li>Creates a tag group called "Blockonomicon Example Tag Group".</li>
					<li>Creates an asset volume called "Blockonomicon Example Asset Volume", using a local store within a <code>blockonomicon-assets</code> folder in the web root.</li>
					<li>Creates a matrix with the name "Blockonomicon Matrix".</li>
					<li>Attaches the example blocks to the example matrix, using the example tag group and asset volume for applicable fields.</li>
					<li>Creates a single section named "Blockonomicon Example", with the route <code>/blockonomicon-example</code>, using the example template.</li>
					<li>Attaches the example matrix to the example section.</li>
					<li>Adds a few example tags and small placeholder assets.</li>
					<li>Fills out the single with some test data to be rendered.</li>
				</ul>
			</div>
			<br>
			<a class="btn submit quick-start">Install Example Content</a>
		{% else %}
			<a class="btn submit quick-stop">Uninstall Example Content</a>
		{% endif %}
	</div>
{% endblock %}

{% js on ready %}
	new BNCN.DocumentationController();
{% endjs %}