.block--example-banner {
	width: 100%;
	padding-top: 50%;
	min-height: 400px;
	position: relative;
}

.block--example-banner .background {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.block--example-banner .header-container {
	position: absolute;
	left: 0;
	top: 32px;
	width: 512px;
	max-width: calc(100% - 64px);
}

.block--example-banner .header {
	display: inline;
	padding: 4px 0;
	line-height: 44px;
	font-size: 30px;
	background-color: #ffffff;
	color: #29323d;
	box-decoration-break: clone;
	box-shadow: -16px 0 0 #ffffff, 16px 0 0 #ffffff;
}

.block--example-banner .header-container.middle {
	top: 50%;
	transform: translate(0, -50%);
}

.block--example-banner .header-container.bottom {
	top: auto;
	bottom: 32px;
}