{% import '_includes/forms' as forms %}

{% macro uploadLocationInput(name, blockHandle, settings, inputSourceOptions) %}
    {% from '_includes/forms' import select, text %}
    <div class="flex">
        <div>
            {{ select({
                id: blockHandle ~ '_' ~ settings.handle ~ '_' ~ name ~ 'Source',
                name: name ~ 'Source',
                options: inputSourceOptions,
                value: null,
            }) }}
        </div>
        <div class="flex-grow">
            {{ text({
                id: blockHandle ~ '_' ~ settings.handle ~ '_' ~ name ~ 'Subpath',
                class: 'ltr',
                name: name ~ 'Subpath',
                value: '',
                placeholder: 'path/to/subfolder' | t('app')
            }) }}
        </div>
    </div>
{% endmacro %}

{% from _self import uploadLocationInput %}

{% set uploadLocationNote = 'Note that the subfolder path can contain variables like <code>{slug}</code> or <code>{author.username}</code>.' | t('app') %}
{% set uploadLocationNote = uploadLocationNote|replace({
'{slug}': '{owner.slug}',
'{author.username}': '{owner.author.username}'
}) %}

{{ forms.checkboxField({
	label: 'Restrict uploads to a single folder?' | t('app'),
	id: blockHandle ~ '_' ~ settings.handle ~ '_useSingleFolder-toggle',
	name: 'useSingleFolder',
	class: 'use-single-folder-cb',
	value: 1,
	checked: false,
	toggle: blockHandle ~ '_' ~ settings.handle ~ '_single-folder-settings',
	reverseToggle: blockHandle ~ '_' ~ settings.handle ~ '_multi-folder-settings'
}) }}

<div id="{{ blockHandle ~ '_' ~ settings.handle ~ '_' }}multi-folder-settings">
	{% if sourceOptions %}
		{{ forms.checkboxSelectField({
			label: 'Sources' | t('app'),
			instructions: 'Which sources do you want to select {type} from?' | t('app', { type: 'assets' }),
			id: blockHandle ~ '_' ~ settings.handle ~ '_sources',
			name: 'sources',
			options: sourceOptions,
			values: '*',
			showAllOption: true,
		}) }}
	{% else %}
		{{ forms.field({
			label: 'Sources' | t('app')
		}, '<p class="error">' ~ 'No sources exist yet.' | t('app') ~ '</p>') }}
	{% endif %}

	{{ forms.field({
		label: 'Default Upload Location' | t('app'),
		instructions: 'Where should files be uploaded when they are dragged directly onto the field, or uploaded from the front end?' | t('app') ~ ' ' ~ uploadLocationNote,
	}, uploadLocationInput('defaultUploadLocation', blockHandle, settings, sourceOptions)) }}
</div>

<div id="{{ blockHandle ~ '_' ~ settings.handle ~ '_' }}single-folder-settings" class="hidden">
	{{ forms.field({
		label: 'Upload Location' | t('app'),
		instructions: uploadLocationNote,
	}, uploadLocationInput('singleUploadLocation', blockHandle, settings, sourceOptions)) }}
</div>

{% if craft.app.getIsMultiSite() %}
	<a class="fieldtoggle" data-target="{{ blockHandle ~ '_' ~ settings.handle ~ '_' }}advanced">{{ 'Advanced' | t('app') }}</a>
	<div id="{{ blockHandle ~ '_' ~ settings.handle ~ '_' }}advanced" class="hidden">
		{{ forms.checkboxField({
			label: 'Relate {type} from a specific site?' | t('app', {type: 'assets'}),
			name: 'useTargetSite',
			checked: false,
			toggle: blockHandle ~ '_' ~ settings.handle ~ '_target-site-container',
		}) }}
		<div id="{{ blockHandle ~ '_' ~ settings.handle ~ '_' }}target-site-container" class="hidden">
			{% set siteOptions = [] %}
			{% for site in craft.app.getSites.getAllSites() %}
				{% set siteOptions = siteOptions | merge([{label: site.name | t('site'), value: site.id}]) %}
			{% endfor %}
			{{ forms.selectField({
				label: 'Which site should {type} be related from?' | t('app', {type: 'assets'}),
				id: blockHandle ~ '_' ~ settings.handle ~ '_targetSiteId',
				name: 'targetSiteId',
				options: siteOptions,
				value: null,
			}) }}
		</div>

		{{ forms.checkboxField({
			label: 'Manage relations on a per-site basis' | t('app'),
			id: blockHandle ~ '_' ~ settings.handle ~ '_localize-relations',
			name: 'localizeRelations',
			checked: false,
		}) }}
	</div>
{% endif %}

<hr>