{% import '_includes/forms' as forms %}

{% if sourceOptions %}
	{{ forms.selectField({
		label: 'Source' | t('app'),
		instructions: 'Which source do you want to select {type} from?' | t('app', { type: 'tags' }),
		id: safeHandle ~ '_' ~ settings.handle ~ '_sources',
		name: blockHandle ~ '[source]',
		options: sourceOptions,
		value: cachedOptions.source | default(''),
	}) }}
{% else %}
	{{ forms.field({
		label: 'Source' | t('app')
	}, '<p class="error">' ~ 'No sources exist yet.' | t('app') ~ '</p>') }}
{% endif %}

{% if craft.app.getIsMultiSite() %}
	<a class="fieldtoggle expanded" data-target="{{ safeHandle ~ '_' ~ settings.handle ~ '_' }}advanced">{{ 'Advanced' | t('app') }}</a>
	<div id="{{ safeHandle ~ '_' ~ settings.handle ~ '_' }}advanced" class="">
		{{ forms.checkboxField({
			label: 'Relate {type} from a specific site?' | t('app', {type: 'tags'}),
			name: blockHandle ~ '[useTargetSite]',
			checked: cachedOptions.useTargetSite | default(false),
			toggle: safeHandle ~ '_' ~ settings.handle ~ '_target-site-container',
		}) }}
		<div id="{{ safeHandle ~ '_' ~ settings.handle ~ '_' }}target-site-container" class="hidden">
			{% set siteOptions = [] %}
			{% for site in craft.app.getSites.getAllSites() %}
				{% set siteOptions = siteOptions | merge([{label: site.name | t('site'), value: site.id}]) %}
			{% endfor %}
			{{ forms.selectField({
				label: 'Which site should {type} be related from?' | t('app', {type: 'tags'}),
				id: safeHandle ~ '_' ~ settings.handle ~ '_targetSiteId',
				name: blockHandle ~ '[targetSiteId]',
				options: siteOptions,
				value: cachedOptions.targetSiteId | default(null),
			}) }}
		</div>

		{{ forms.checkboxField({
			label: 'Manage relations on a per-site basis' | t('app'),
			id: safeHandle ~ '_' ~ settings.handle ~ '_localize-relations',
			name: blockHandle ~ '[localizeRelations]',
			checked: cachedOptions.localizeRelations | default(false),
		}) }}
	</div>
{% endif %}

<hr>